$mint-dark:         #00837B;

$steel:             #1A222C;
$steel-90:          #303841;
$steel-80:          #484E56;
$steel-70:          #5E646B;
$steel-60:          #767A80;
$steel-40:          #A3A7AB;
$steel-20:          #D1D3D5;
$steel-10:          #E8E8E9;
$steel-5:           #F9F8F8;



$primary-text-color: $steel;
$secondary-text-color: $steel-60;
$border-color: $steel-10;
